#mobile-menu-close-btn {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: -50px;
  cursor: pointer;
}
#mobile-menu-close-btn:hover {
  background-color: rgba(255, 38, 0, 0.714);
  scale: 1.2;
}
  
#mobile-menu {
  background-color: #0d0c0d8a;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 180px;
  display: none;
  position: fixed;
  bottom: 0;
  margin: 0;
  z-index: 900;
  transform: translateY(90px);
  transition: all 0.3s ease-in-out;
}
#mobileMenu-background-color {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 0.5px solid #55555505;
  background-color: #0f0f0f1e;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 200;
  box-shadow: 3px 3px 10px #20202015;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  backdrop-filter: blur(8px);
  backdrop-filter: brightness() opacity(85%) blur(8px);
  background-image: linear-gradient(
    50deg,
    #1b1a1a7a,
    #0f0f0f92,
    #1b1a1a94,
    #0f0f0f94,
    #2726266b
  );
  gap: 60px;

}
#mobileMenu-icon-tray1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  padding: 0;
  gap: 4%;
  z-index: 204;
}

.mobileMenuIconContainer {
  width: auto;
  height: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 203;
  transform: translateY(-7%);
  gap: 1px;
}
.mobileMenuIconContainer:hover {
  scale: 1.1;
}
.mobilMenuIconsName {
  width: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.07rem;
  margin: 0%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.mobileMenuIcon {
  width: 22px;
  height: 22px;
  filter: drop-shadow(#000);
  filter: opacity(80.8%);
}
.mobileMenulink {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #979292;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
  margin: 0%;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/*=========  .7. MEDIA QUERIES ================= */
/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1358px) {

}
/* <<<<<<<<>>>>>>>>  desktop 3 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1112px) {
  
}
/* <<<<<<<<>>>>>>>>  desktop mini <<<<<<<<>>>>>>>> */
@media screen and (max-width: 909px) {
  /* ---- menu ------ */
  #desktop-menu {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
  #mobileMenu-icon-tray1 {
    justify-content: center;
    gap: 80px;
  }

  /* ---- floating icons ----- */
  
  #screen-mode {
    display: none;
    position: absolute;
    z-index: 9000;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: 20px;
    top: -70px;
    border: 0.5px solid #5555551f;
    border-radius: 60px;
    background-color: #0f0f0f07;
    box-shadow: 0px 3px 10px #000000bb;
    backdrop-filter: opacity(70%) blur(8px);
    background-image: linear-gradient(
      50deg,
      #1b1a1a7a,
      #0f0f0f92,
      #1b1a1a94,
      #0f0f0f94,
      #2726266b
    );
  }
  #light-mode-icn {
    display: flex;
  }
  #dark-mode-icn {
    display: none;
  }
}
/* <<<<<<<<>>>>>>>> .7b. Tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
  #desktop-menu {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
  #mobileMenu-icon-tray1 {
    justify-content: center;
    gap: 80px;
  }
  #screen-mode {
    height: 50px;
    right: 20px;
    top: 1px;
  }
  #light-mode-icn {
    display: flex;
  }
  #dark-mode-icn {
    display: none;
  }
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 644px) {
  #mobileMenu-icon-tray1 {
    gap: 6%;
  }
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {

  #mobile-menu {
    display: flex;
  }
  #mobileMenu-icon-tray1 {
    gap: 4%;
  }
  nav {
    padding: 0;
  }
  #screen-mode {
    right: 15px;
  }
  #light-mode-icn {
    display: flex;
  }
  #dark-mode-icn {
    display: none;
  }
}