
.demoCard0-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}
.demoCard0-border {
    display: flex;
    position: absolute;
    border: 20px solid #aaa;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    z-index: 2;
}
.demoCard0-border-effect {
    display: flex;
    position: absolute;
    border: 20px solid #aaa;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    z-index: 2;
}
.demoCard0-img{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    gap: 50px;
}

.demoCard0{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    justify-content: center;
    align-items: space-between;
    align-content: space-between;
    border-radius: 35px;
    gap: 60px;
}

